.stats {
  padding: 0.6em 1em;
  font-size: 0.9em;
  line-height: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 2px, rgba(0, 0, 0, 0.10) 0px 1px 3px;
  color: rgba(1,1,1,.7);
  border-radius: 4px;
}

.stats__nameContainer {
  text-align: left;
}

.stats__scoreContainer hr {
  margin: 0;
}

.stats__scoreLabel {
}

.stats__score {
}

.stats__toggleButton {
  padding: 0 0.5em;
  height: 2em;
  line-height: 2em;
}

.stats__permanentContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats__slideDownContent {
  display: none;
}

.stats__skill,
.stats__score {
  width: 100px;
}

.stats__lineChartContainer {
  position: relative;
}

.stats__lineChartLabel {
  font-size: 11px;
  margin: 0 0 -14px;
}

.stats__lineChartLabel--large {
  font-size: 12px;
}

.stats__lineChartLabel--tiny {
  position: relative;
  top: -1px;
  font-size: 7px;
}

.stats__lineChart line {
  stroke-width: 1;
}
