.staff {
  width: 100%;
  max-width: 320px;
}

.staff--line {
  stroke: black;
  stroke-width: 1;
}

.staff--trebleClef {
  transform: scale(.8) translate(-4px, 22px);
}

.staff--trebleClefBackground {
  fill: transparent;
}

.staff--quarterNoteBody {
  animation: fadeIn 0.5s;
}
