.answerButton {
  transition: all 0.4s;
  border-color: currentColor;
}

.question.isLimbo .answerButton {
  pointer-events: none;
}

.question.isLimbo .answerButton:hover {
  border-color: currentColor;
}

.question.isLimbo .answerButton {
  opacity: 0.3;
}

.question.isLimbo .answerButton--isChosen {
  opacity: 1;
}

.question.isLimbo .answerButton--isChosen.answerButton--false {
  color: #f44336;
  animation: fade-out-partial 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.question.isLimbo .answerButton--isChosen.answerButton--true {
  color: #4caf50;
}

.question.isLimbo:not(.isCorrectLimbo) .answerButton--true {
  animation: fade-in-correct-color 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-correct-color {
  from {
    color: inherit;
    opacity: 0.3;
  }
  to {
    color: #4caf50;
    border-color: currentColor;
    opacity: 1;
  }
}

@keyframes fade-out-partial {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
