.answerButton {
  transition: all 0.5s;
  margin-right: 0.25rem;
}

.answerButton--correct {
  border: 1px solid var(--color-green);
  background: var(--color-green);
  color: white;
}

.answerButton--incorrect {
  border: 1px solid var(--color-red);
  background: var(--color-red);
  color: white;
}

.answerButton--correct:hover,
.answerButton--incorrect:hover {
  color: white;
}
