.correctAnswerDisplay {
  animation: fadeIn 0.5s;
}

.correctAnswerDisplay__textLine:first-of-type {
  margin-bottom: 0.25em;
  color: #4caf50;
}

.correctAnswerDisplay__textLine:not(:first-of-type) {
  margin-bottom: 1em;
}
