.userPrompt {  }

.userPrompt__formContainer {
  margin: 2em auto;
  width: 280px;
}

.userPrompt__formContainer * {
  width: 100%;
}

.userPrompt__formContainer form {
  margin-bottom: 0.5em;
}

.userPrompt__formContainer input {
  display: block;
  margin: 0 auto 0.5em;
}

.userPrompt__formContainer button[type=submit] {
  padding: 0 1em;
}

.userPrompt__formContainer form:valid button[type=submit] {
  color: #4caf50;
  border-color: currentColor;
}
