.helpers {
  margin-top: 0.5em;
}

.helpers__textLine:first-of-type {
  animation: fadeIn 0.5s;
  margin-bottom: 0.25em;
}

.helpers__textLine:not(:first-of-type) {
  opacity: 0;
  animation: slide-up 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  margin-bottom: 1em;
}

.helpers__diagramsContainer {
  display: flex;
  position: relative;
  margin: 1rem;
}

.helpers__diagram {
  flex: 1;
  width: 50%;
  margin: 2vw;
}
