.fretboard-1,.fretboard-2,.frets-3,.fretboard-line {
    stroke:#000;
    stroke-miterlimit:10;
}

.fretboard-1,.fretboard-2,.fretboard-line {
    stroke-width:2px;
}

.frets-3 {
    stroke-width :0.75px;
}

.fretboard {
    height: 30px;
}

.fretboard-dot, .fretboard-x {
    transition: all 0.8s;
}

/*.fretboard-dot, .fretboard-line {*/
    /*opacity: 0;*/
/*}*/

/*.fretboard-dot:nth-of-type(1) {*/
    /*animation: dot-sequence-6 3s infinite;*/
/*}*/

/*.fretboard-x:nth-of-type(1) line {*/
    /*animation: x-sequence-6 3s infinite;*/
/*}*/

/*@keyframes dot-sequence-6 {*/
    /*0% {*/
        /*transform: translateY(-32px);*/
        /*fill: none;*/
        /*stroke-width: 2px;*/
        /*stroke: black;*/
        /*opacity: 1;*/
    /*}*/
    /*19% {*/
        /*transform: translateY(-32px);*/
        /*fill: none;*/
        /*stroke-width: 2px;*/
        /*stroke: black;*/
        /*opacity: 1;*/
    /*}*/
    /*20% {*/
        /*opacity: 0;*/
    /*}*/
    /*100% {*/
        /*opacity: 0;*/
    /*}*/
/*}*/

/*@keyframes x-sequence-6 {*/
    /*0% {*/
        /*opacity: 0;*/
    /*}*/
    /*20% {*/
        /*opacity: 0;*/
    /*}*/
    /*21% {*/
        /*opacity: 1;*/
    /*}*/
    /*100% {*/
        /*opacity: 1;*/
    /*}*/
/*}*/