.stats {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border: 1px solid lightgray;
  animation: animate-up 0.75s;
}

.stats__skill,
.stats__score {
  width: 100px;
}

.stats__lineChartContainer {
  position: relative;
}

.stats__lineChartLabel {
  font-size: 11px;
  margin: 0 0 -14px;
}

.stats__lineChartLabel--large {
  font-size: 12px;
}

.stats__lineChartLabel--tiny {
  position: relative;
  top: -1px;
  font-size: 7px;
}

.stats__lineChart line {
  stroke-width: 1;
}

@keyframes animate-up {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }

}
