.question__nextBtn {
  width: 100%;
  margin-top: 1em;
  opacity: 0;
  animation: slide-up 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.isCorrectLimbo .question__nextBtn {
  opacity: 1;
  animation: fadeIn 0.5s;
}
